# Database Configuration
DB_HOST=localhost
DB_NAME=rd_company_crm
DB_USER=root
DB_PASS=password

# Railway will provide these environment variables
# DB_HOST=${MYSQL_HOST}
# DB_NAME=${MYSQL_DATABASE}
# DB_USER=${MYSQL_USER}
# DB_PASS=${MYSQL_PASSWORD}

DB_HOST=mysql.railway.internal
DB_NAME=railway
DB_USER=root
DB_PASS=eKigxtGuYdePOTlGoaNxhcKhjdpfnBWS